.modal__textarea {
	width: 100%;
	resize: none;
	height: 120px;
	padding: 12px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: 0px;
	@include transition(border);
	margin-top: 4px;

	&:focus-within,
	&:hover {
		border: 1px solid $accent-color;
	}
}